.todo__form {
    display: flex;
    margin-bottom: 50px;
} 

.todo__text {
    box-sizing: border-box;
    width: 400px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    border-top: 2px solid #784ed4;
    border-bottom: 2px solid #784ed4;
    border-left: 2px solid #784ed4;
    border-right: none;
    border-radius: 5px  0  0 5px;
    resize: none;
    font: inherit;
}

.todo__text--active {
    border-color: #5833aa;
}

.todo__text:focus {
    outline: none;
}

.todo__btn-add {
    box-sizing: border-box;
    width: 100px;
    border: none;
    border-radius: 0 5px  5px  0 ;

    background-color: #784ed4;
    font: inherit;
    color: #fff;
    transition: all 0.5s;
}

.todo__btn-add:hover {
    background-color: #5833aa;
}

.todo__btn-add:active {
    background-color: #8264c5;  
}
